/* ================================ *
 |                                  |
 |        MAIN CSS TEMPLATE         |
 |          X-BADGE.COM             |
 |                                  |
 |    AUTHORS: Colleen Bernum       |
 |             Lucian Bor           |
 |             Sarah Cleveland      |
 |             Kelly Domerstad      |
 |                                  |
 * ================================ */


body {
    font-size: 16px;
}

/* -----------| NAVBAR |----------- */
.navbar {
    width: 95%;
    margin: 0 auto 3em auto;
    border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 3px #000000;
    -webkit-box-shadow: 0px 3px 3px #000000;
    -moz-box-shadow: 0px 3px 3px #000000;
    background: #E37E71;
    background-image: url(../img/pinkfelt.jpg);
    background-repeat: repeat;  
    border: solid 1px #e37e71;
}

.navbar-nav>li>a,
.navbar-right>li>a {
    font-weight: bold;
    font-family: arial;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF !important;
    padding: 10px 20px 10px 20px;
    margin: 10px 5px 6px 5px;
    line-height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-shadow: 2px 2px 3px #80473f;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-nav>.dropdown>a:focus,
.navbar-nav>.dropdown>a:hover,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: #B3DB9A !important;
    color: #FFFFFF !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px #5e7351;
}

.navbar-brand {
    display: none;
}

/* ------------| FOOTER |----------- */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

/* -----------| CAROUSEL |----------- */
.carousel {
    width: 60%;
    margin: auto;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    border: 4px solid #333;
    overflow: hidden;
}

.carousel-inner {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-radius:5px;
    -o-border-radius:5px;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    max-height:400px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-radius:10px;
    -o-border-radius:10px;
}

.carousel-indicators {
    margin-bottom: -10px;
}

/* -----------| JUMBOTRON |----------- */
 .jumbotron {
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #8fe7f1;
    background-image: url(../img/bluefabric.jpg);
    background-repeat: repeat;
    padding:20px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0px 3px 3px #000;
    -moz-box-shadow: 0px 3px 3px #000;
    -o-box-shadow: 0px 3px 3px #000;
    box-shadow: 0px 3px 3px #000;
}

#bannerback {
    background-image: url(../img/feltsquare2.jpg);
    background-repeat: repeat;
    width: 525px;
    height: 280px;
    padding-top:15px;
    margin:auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 8px 0px #000;
    -moz-box-shadow: 1px 1px 8px 0px #000;
    -o-box-shadow: 1px 1px 8px 0px #000;
    box-shadow: 1px 1px 8px 0px #000;
}


/* -----------| REUSABLE |----------- */
.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.gutters {
    padding-left: 15px;
    padding-right: 15px;
}
.clearfix {
    clear: both;
}
.float-right {
    float: right;
}
.inset {
    float: none;
    clear: both;
    margin: 0 auto;
}
.txt-red {
    color: #CC0000;
}
.txt-green {
    color: #73d675;
}

/* -----------| PRODUCTS |----------- */
.panel-badge {
    border: 1px solid #8fe7f1;
}

.panel-badge--heading {
    background-color: #8fe7f1;
    border: 1px solid #8fe7f1;
}

.panel-badge-pin {
    border: 1px solid #e2ba74;
}

.panel-badge-pin--heading {
    background-color: #e2ba74;
    border: 1px solid #e2ba74;
}

.panel-badge-kit {
    border: 1px solid #b3db9a;
}

.panel-badge-kit--heading {
    background-color: #b3db9a;
    border: 1px solid #b3db9a;
}

.panel-heading {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 3px #333;
}

/* -----------| SMALLER THAN 767px |----------- */
@media (max-width:767px) {
    .navbar-brand {
        display: inline-block;
        font-weight: bold;
        font-family: arial;
        font-style: normal;
        font-size: 18px;
        color: #FFFFFF !important;
        text-shadow: 2px 2px 3px #80473f;
    }
    
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #FFFFFF !important;
    }
    
    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle:active {
        border-color: #e37e71 !important;
        border-radius: 8px;
    }

    .navbar-inverse button.navbar-toggle:hover,
    .navbar-inverse button.navbar-toggle:focus,
    .navbar-inverse button.navbar-toggle .active
    {
        background: #B3DB9A;
        border-color: #B3DB9A;
    }
    
    .navbar-inverse .navbar-collapse {
        border-color: #e37e71;
    }
    
    footer button {
        margin-top:10px;
    }
}

/* -----------| SMALLER THAN 600px |----------- */
@media (max-width: 600px) {
    .jumbotron {
        display: none;
    }

    .carousel {
        width: 100%;
        border-radius: 0;
    }

    .navbar {
        width: 100%;
        margin-top: 0;
        border-radius: 0;
    }

    .navbar-brand {
        display: inline-block;
    }

    .carousel-caption {
        display: none; 
    }
}

